@import "./globals.scss";

.footer {
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  background-color: $footerBGC;
  padding: 6rem 2rem 6rem 3rem;
  overflow: hidden;

  @include phone {
    display: flex;
    flex-direction: column;
    padding: 4rem 1rem 2rem 1rem;
  }

  @include phoneLandscape {
    display: flex;
    flex-direction: column;
    padding: 4rem 1rem 2rem 1rem;
  }
}

.bgImg {
  position: absolute;
  top: 00px;
  left: -100px;
}

.semi {
  position: absolute;
  bottom: 0;
  right: 0;
  opacity: 0.1;
}
