@import "./globals.scss";

.locationsSection {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem;

  p,
  a,
  span {
    font-family: var(--font-aptos) !important;
  }

  h3 {
    margin-bottom: 1rem;
    color: $offWhite;
    font-size: 1.125rem;
  }

  .remoteAccess {
    color: $grayText;
    font-weight: 500;
    margin-bottom: 0.2rem;
  }
}

.statesGrid {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  position: relative;
}

.stateDropdown {
  position: relative;
  padding: 0.19rem 0;

  @media (hover: hover) {
    &:hover {
      z-index: 10;

      .locationsDropdown {
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
      }
    }
  }

  &.active {
    z-index: 10;

    .locationsDropdown {
      opacity: 1;
      visibility: visible;
      pointer-events: auto;
    }
  }
}

.stateHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  margin: 0;
  color: $grayText;
  font-size: 1rem;
  font-weight: 500;
  transition: color 0.3s;

  &:hover {
    color: $theme;
  }
}

.locationsDropdown {
  position: absolute;
  left: 1rem;
  top: 100%;
  width: calc(80% + 2rem);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  z-index: 5;
}

.dropdownBackground {
  position: absolute;
  inset: 0;
  background: rgba(30, 30, 30, 0.85);
  backdrop-filter: blur(5px);
  border-radius: 4px;
}

.dropdownContent {
  position: relative;
  padding: 0.5rem 1rem;
}

.cityItem {
  position: relative;
  padding: 0.5rem 0;
}

.cityLink {
  color: $grayText;
  transition: color 0.3s;
  font-weight: 500;
  display: block;

  &:hover {
    color: $theme;
  }
}

// Media query for touch devices
@media (hover: none) {
  .stateDropdown {
    .locationsDropdown {
      transition: opacity 0.3s ease, visibility 0.3s ease;

      &:not(.show) {
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
      }
    }
  }
}
