@import "./globals.scss";

.servicesSection {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  position: relative;

  a {
    color: $grayText;
    text-decoration: none;
    transition: color 0.3s;
    font-weight: 500;

    &:hover {
      color: $theme;
    }
  }
}

.mainLinks {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  margin-bottom: 0.3rem;

  h3 {
    color: $offWhite;
    font-size: 1.125rem;
    margin-bottom: 0.8rem;
  }
}

.dropdownSection {
  position: relative;
  // padding: 0.5rem 0;

  @media (hover: hover) {
    &:hover {
      z-index: 10;

      .dropdownContainer {
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
      }
    }
  }

  &.active {
    z-index: 10;

    .dropdownContainer {
      opacity: 1;
      visibility: visible;
      pointer-events: auto;
    }
  }

  h3 {
    color: $grayText;
    text-decoration: none;
    transition: color 0.3s;
    font-size: 1rem;
    font-weight: 500;
    margin: 0;
    padding: 0.5rem 0;
    cursor: pointer;
    font-family: var(--font-aptos) !important;

    &:hover {
      color: $theme;
    }
  }
}

.dropdownHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dropdownContainer {
  position: absolute;
  left: 1rem;
  top: 100%;
  width: calc(80% + 2rem);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  z-index: 5;
}

.dropdownBackground {
  position: absolute;
  inset: 0;
  background: rgba(30, 30, 30, 0.85);
  backdrop-filter: blur(5px);
  border-radius: 4px;
}

.dropdownContent {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  padding: 1rem;
}

// Media query for touch devices
@media (hover: none) {
  .dropdownSection {
    .dropdownContainer {
      transition: opacity 0.3s ease, visibility 0.3s ease;

      &:not(.show) {
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
      }
    }
  }
}
