@import "./globals.scss";

// HeadTop component
.headTop {
  z-index: 1000;
  background-color: $black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: $offWhite;
  padding: 0.7rem;
  font-size: 0.9rem;
  font-weight: 500;
  p {
    letter-spacing: 1px;
  }

  @include tablet {
    display: none;
  }
  @include phone {
    display: none;
  }
  @include phoneLandscape {
    display: none;
  }
}

.topContacts {
  display: flex;
  align-items: center;
  gap: 3rem;
  img {
    margin-right: 0.5rem;
  }

  div:last-of-type {
    margin-bottom: -0.1rem;
  }
}

// Desktop Header
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0rem 1rem;
  background-color: rgba(0, 0, 0, 0.109);
  transition: all 0.3s ease;
  z-index: 10;
  border-bottom: 1px solid #ffffff27;
  margin-top: 40px;
  transition: all 0.5s ease;
  height: fit-content;
  width: 100%;
  max-width: 100vw;

  &.scrolled {
    background-color: $black;
    border-bottom: none;
    margin-top: 0;
    transition: all 0.5s ease;
    height: 80px;
  }

  @include tablet {
    margin-top: 0;
  }
  @include phone {
    margin-top: 0;
  }
  @include phoneLandscape {
    margin-top: 0;
  }
}

.nav {
  margin: 0 auto;
  @include desktop {
    display: none;
  }
  @include tablet {
    display: none;
  }
  @include phone {
    display: none;
  }
  @include phoneLandscape {
    display: none;
  }
}

.navList {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  margin: 0;
  padding: 0;
  gap: 1rem;

  @include desktop {
    display: none;
  }
  @include tablet {
    display: none;
  }
  @include phone {
    display: none;
  }
  @include phoneLandscape {
    display: none;
  }
}

.navItem {
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;

  &::after {
    content: "";
    position: absolute;
    bottom: -1.9rem;
    left: 0;
    width: 100%;
    height: 1.9rem;
    background-color: transparent;
  }

  p,
  a {
    font-weight: 700;
    letter-spacing: 1px;
  }
}

.navLink {
  position: relative;
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
  color: $offWhite;
  text-decoration: none;
  cursor: pointer;
  white-space: nowrap;

  span {
    position: relative;
    font-weight: 700;
    letter-spacing: 1px;

    // Growing underline effect
    &::after {
      content: "";
      position: absolute;
      bottom: -3px;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: $theme;
      transform: scaleX(0);
      transform-origin: right;
      transition: transform 0.3s ease;
    }
  }

  &:hover {
    color: $theme;

    span::after {
      transform: scaleX(1);
      transform-origin: left;
    }
  }
}

// Dropdown styling
.dropdown {
  position: absolute;
  top: calc(100% + 1.9rem);
  left: 0;
  min-width: 200px;
  background-color: $offWhite;
  border-top: 4px solid $theme;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  padding: 1rem 0.5rem;
  opacity: 0;
  visibility: hidden;
  transform: translateY(20px);
  transition: all 0.3s ease;
  z-index: 1;

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  li {
    padding: 0;
    margin: 0;

    a {
      display: block;
      padding: 0.5rem 1rem;
      color: $gray;
      text-decoration: none;
      transition: color 0.3s ease;
      width: 100%;

      span {
        position: relative;

        // Growing underline effect for dropdown items
        &::after {
          content: "";
          position: absolute;
          bottom: -3px;
          left: 0;
          width: 100%;
          height: 1px;
          background-color: $theme;
          transform: scaleX(0);
          transform-origin: right;
          transition: transform 0.3s ease;
        }
      }

      &:hover {
        color: $theme;
        font-weight: 700;

        span::after {
          transform: scaleX(1);
          transform-origin: left;
        }
      }
    }
  }
}

// Nested dropdowns
.nestedDropdown {
  position: relative;
  width: 100%;
  padding: 1rem 0.5rem;

  &:hover .nestedItems {
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
  }
}

.nestedItems {
  position: absolute;
  top: -1rem;
  left: 100%;
  min-width: 220px;
  background-color: $offWhite;
  border-top: 4px solid $theme;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  padding: 1rem 0.5rem;
  opacity: 0;
  visibility: hidden;
  transform: translateX(10px);
  transition: all 0.3s ease;
}

// Show dropdowns
.navItem:hover .dropdown {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

// Nested dropdown styling
.nestedDropdown {
  position: relative;
}

.nestedItems {
  position: absolute;
  top: 0;
  left: calc(100% + 0.6rem);
  border-top: 4px solid $theme;
  background-color: $offWhite;
  padding: 1rem 0.5rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  opacity: 0;
  visibility: hidden;
  transform: translateX(-10px);
  transition: all 0.3s ease;

  &::after {
    content: "";
    position: absolute;
    bottom: 0rem;
    left: -0.6rem;
    height: 100%;
    width: 0.6rem;
    background-color: transparent;
  }
}

// Show nested items on hover
.nestedDropdown:hover .nestedItems {
  opacity: 1;
  visibility: visible;
  transform: translateX(0);
}

.headerContacts {
  display: flex;
  align-items: center;
  button {
    margin-left: 0.8rem;
  }
  @include desktop {
    display: none;
  }
  @include tablet {
    display: none;
  }
  @include phone {
    display: none;
  }
  @include phoneLandscape {
    display: none;
  }
}

.socialLinks {
  border-right: 1px solid rgba(255, 255, 255, 0.275);
  margin-right: 0.8rem;
  padding-right: 0.8rem;
}

.searchIcon {
  cursor: pointer;
  margin-right: 0.8rem;
}

.logoImg {
  @include phone {
    max-width: 150px;
    max-height: 65px;
    margin: 1rem 0;
  }
}

.scrolledLogo {
  transform: scale(0.5);
  transition: all 0.5s ease;
  @include phone {
    transform: scale(1);
    img {
      margin: 0.5rem 0 0.5rem -0.5rem;
    }
  }
}
