.headTop {
  position: fixed;
  width: 100vw;
  z-index: 1000;
  background-color: #1e1e1e;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #f8f8f8;
  padding: 0.7rem;
  font-size: 0.9rem;
  font-weight: 500;
}
.headTop p {
  letter-spacing: 1px;
}
@media (min-width: 767px) and (max-width: 1024px) {
  .headTop {
    display: none;
  }
}
@media (max-width: 449px) {
  .headTop {
    display: none;
  }
}
@media (min-width: 450px) and (max-width: 766px) {
  .headTop {
    display: none;
  }
}

.topContacts {
  display: flex;
  align-items: center;
  gap: 3rem;
}
.topContacts img {
  margin-right: 0.5rem;
}
.topContacts div:last-of-type {
  margin-bottom: -0.1rem;
}

.locationWrapper {
  position: relative;
  display: inline-block;
  min-width: 120px;
}
.locationWrapper span {
  position: absolute;
  left: 0;
  top: -1rem;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  will-change: opacity;
  letter-spacing: 1px;
}

@keyframes location1 {
  0%, 9.09% {
    opacity: 1;
  }
  9.1%, 100% {
    opacity: 0;
  }
}
@keyframes location2 {
  0%, 9.08% {
    opacity: 0;
  }
  9.09%, 18.18% {
    opacity: 1;
  }
  18.19%, 100% {
    opacity: 0;
  }
}
@keyframes location3 {
  0%, 18.17% {
    opacity: 0;
  }
  18.18%, 27.27% {
    opacity: 1;
  }
  27.28%, 100% {
    opacity: 0;
  }
}
@keyframes location4 {
  0%, 27.26% {
    opacity: 0;
  }
  27.27%, 36.36% {
    opacity: 1;
  }
  36.37%, 100% {
    opacity: 0;
  }
}
@keyframes location5 {
  0%, 36.35% {
    opacity: 0;
  }
  36.36%, 45.45% {
    opacity: 1;
  }
  45.46%, 100% {
    opacity: 0;
  }
}
@keyframes location6 {
  0%, 45.44% {
    opacity: 0;
  }
  45.45%, 54.54% {
    opacity: 1;
  }
  54.55%, 100% {
    opacity: 0;
  }
}
@keyframes location7 {
  0%, 54.53% {
    opacity: 0;
  }
  54.54%, 63.63% {
    opacity: 1;
  }
  63.64%, 100% {
    opacity: 0;
  }
}
@keyframes location8 {
  0%, 63.62% {
    opacity: 0;
  }
  63.63%, 72.72% {
    opacity: 1;
  }
  72.73%, 100% {
    opacity: 0;
  }
}
@keyframes location9 {
  0%, 72.71% {
    opacity: 0;
  }
  72.72%, 81.81% {
    opacity: 1;
  }
  81.82%, 100% {
    opacity: 0;
  }
}
@keyframes location10 {
  0%, 81.80% {
    opacity: 0;
  }
  81.81%, 90.90% {
    opacity: 1;
  }
  90.91%, 100% {
    opacity: 0;
  }
}
@keyframes location11 {
  0%, 90.89% {
    opacity: 0;
  }
  90.90%, 99.99% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.loc1 {
  animation: location1 33s infinite ease-in-out;
}

.loc2 {
  animation: location2 33s infinite ease-in-out;
}

.loc3 {
  animation: location3 33s infinite ease-in-out;
}

.loc4 {
  animation: location4 33s infinite ease-in-out;
}

.loc5 {
  animation: location5 33s infinite ease-in-out;
}

.loc6 {
  animation: location6 33s infinite ease-in-out;
}

.loc7 {
  animation: location7 33s infinite ease-in-out;
}

.loc8 {
  animation: location8 33s infinite ease-in-out;
}

.loc9 {
  animation: location9 33s infinite ease-in-out;
}

.loc10 {
  animation: location10 33s infinite ease-in-out;
}

.loc11 {
  animation: location11 33s infinite ease-in-out;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0rem 1rem;
  background-color: rgba(0, 0, 0, 0.109);
  transition: all 0.3s ease;
  z-index: 10;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1529411765);
  margin-top: 40px;
  transition: all 0.5s ease;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
  max-width: 100vw;
}
.header.scrolled {
  background-color: #1e1e1e;
  border-bottom: none;
  transition: all 0.5s ease;
  height: 80px;
}
@media (min-width: 767px) and (max-width: 1024px) {
  .header {
    margin-top: 0;
  }
}
@media (max-width: 449px) {
  .header {
    margin-top: 0;
  }
}
@media (min-width: 450px) and (max-width: 766px) {
  .header {
    margin-top: 0;
  }
}
.header li {
  list-style: none;
}

.nav {
  margin: 0 auto;
}
@media (min-width: 1025px) and (max-width: 1199px) {
  .nav {
    display: none;
  }
}
@media (min-width: 767px) and (max-width: 1024px) {
  .nav {
    display: none;
  }
}
@media (max-width: 449px) {
  .nav {
    display: none;
  }
}
@media (min-width: 450px) and (max-width: 766px) {
  .nav {
    display: none;
  }
}

.navList {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  margin: 0;
  padding: 0;
  gap: 1rem;
}
@media (min-width: 1025px) and (max-width: 1199px) {
  .navList {
    display: none;
  }
}
@media (min-width: 767px) and (max-width: 1024px) {
  .navList {
    display: none;
  }
}
@media (max-width: 449px) {
  .navList {
    display: none;
  }
}
@media (min-width: 450px) and (max-width: 766px) {
  .navList {
    display: none;
  }
}

.navItem {
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
}
.navItem::after {
  content: "";
  position: absolute;
  bottom: -1.9rem;
  left: 0;
  width: 100%;
  height: 1.9rem;
  background-color: transparent;
}
.navItem p,
.navItem a {
  font-weight: 700;
  letter-spacing: 1px;
}

.navLink {
  position: relative;
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
  color: #f8f8f8;
  text-decoration: none;
  cursor: pointer;
  white-space: nowrap;
}
.navLink span {
  position: relative;
  font-weight: 700;
  letter-spacing: 1px;
}
.navLink span::after {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #046999;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.3s ease;
}
.navLink:hover {
  color: #046999;
}
.navLink:hover span::after {
  transform: scaleX(1);
  transform-origin: left;
}

.dropdown {
  position: absolute;
  top: calc(100% + 1.9rem);
  left: 0;
  min-width: 200px;
  background-color: #f8f8f8;
  border-top: 4px solid #046999;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  padding: 1rem 0.5rem;
  opacity: 0;
  visibility: hidden;
  transform: translateY(20px);
  transition: all 0.3s ease;
  z-index: 1;
}
.dropdown ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.dropdown li {
  padding: 0;
  margin: 0;
}
.dropdown li a {
  display: block;
  padding: 0.5rem 1rem;
  color: #454545;
  text-decoration: none;
  transition: color 0.3s ease;
  width: 100%;
}
.dropdown li a span {
  position: relative;
}
.dropdown li a span::after {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #046999;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.3s ease;
}
.dropdown li a:hover {
  color: #046999;
  font-weight: 700;
}
.dropdown li a:hover span::after {
  transform: scaleX(1);
  transform-origin: left;
}

.nestedDropdown {
  position: relative;
  width: 100%;
  padding: 1rem 0.5rem;
}
.nestedDropdown:hover .nestedItems {
  opacity: 1;
  visibility: visible;
  transform: translateX(0);
}

.nestedItems {
  position: absolute;
  top: -1rem;
  left: 100%;
  min-width: 220px;
  background-color: #f8f8f8;
  border-top: 4px solid #046999;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  padding: 1rem 0.5rem;
  opacity: 0;
  visibility: hidden;
  transform: translateX(10px);
  transition: all 0.3s ease;
}

.navItem:hover .dropdown {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.nestedDropdown {
  position: relative;
}

.nestedItems {
  position: absolute;
  top: 0;
  left: calc(100% + 0.6rem);
  border-top: 4px solid #046999;
  background-color: #f8f8f8;
  padding: 1rem 0.5rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  opacity: 0;
  visibility: hidden;
  transform: translateX(-10px);
  transition: all 0.3s ease;
}
.nestedItems::after {
  content: "";
  position: absolute;
  bottom: 0rem;
  left: -0.6rem;
  height: 100%;
  width: 0.6rem;
  background-color: transparent;
}

.nestedDropdown:hover .nestedItems {
  opacity: 1;
  visibility: visible;
  transform: translateX(0);
}

.headerContacts {
  display: flex;
  align-items: center;
}
.headerContacts button {
  margin-left: 0.8rem;
}
@media (min-width: 1025px) and (max-width: 1199px) {
  .headerContacts {
    display: none;
  }
}
@media (min-width: 767px) and (max-width: 1024px) {
  .headerContacts {
    display: none;
  }
}
@media (max-width: 449px) {
  .headerContacts {
    display: none;
  }
}
@media (min-width: 450px) and (max-width: 766px) {
  .headerContacts {
    display: none;
  }
}

.socialLinks {
  border-right: 1px solid rgba(255, 255, 255, 0.275);
  margin-right: 0.8rem;
  padding-right: 0.8rem;
  border-left: 1px solid rgba(255, 255, 255, 0.275);
  margin-left: 0.8rem;
  padding-left: 0.8rem;
}

.microContainerScrolled,
.microContainer {
  position: relative;
}

.logoHover {
  display: flex;
  align-items: center;
  gap: 1rem;
  background-color: rgba(0, 0, 0, 0.5);
  letter-spacing: 1px;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  color: #f8f8f8;
  font-size: 0.9rem;
  border-radius: 5px;
  padding: 1rem;
  position: absolute;
  bottom: -8rem;
  width: 350px;
}

.logoHoverScrolled {
  bottom: -6rem;
}

.microLogo {
  filter: brightness(80%);
  scale: 1;
  margin-right: 0;
  transition: all 0.5s ease;
}

.microLogoScrolled {
  filter: brightness(100%);
  scale: 0.7;
  margin-right: -1.2rem;
  transition: all 0.5s ease;
}

.searchIcon {
  cursor: pointer;
  margin-right: 0.8rem;
}

@media (max-width: 449px) {
  .logoImg {
    max-width: 150px;
    max-height: 65px;
    margin: 1rem 0;
  }
}

.scrolledLogo {
  transform: scale(0.5);
  transition: all 0.5s ease;
}
@media (max-width: 449px) {
  .scrolledLogo {
    transform: scale(1);
  }
  .scrolledLogo img {
    margin: 0.5rem 0 0.5rem -0.5rem;
  }
}/*# sourceMappingURL=header.module.css.map */