@import "./globals.scss";

.videoSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 8rem;
  h2 {
    font-size: 3rem;
    font-weight: 900;
    margin-bottom: 1rem;
  }
}

.description {
  text-align: center;
  color: $darkGrayText;
  line-height: 2;
  max-width: 80%;
  margin-bottom: 2rem;
}

.video {
  margin: 2rem auto 0 auto;
}

.sub {
  border-bottom: 6px solid #b7b7b754;
  width: fit-content;
  margin-bottom: 1rem;
  p {
    color: $theme;
    letter-spacing: 1px;
    font-weight: 600;
    margin-bottom: -0.5rem;
  }
}
