.isRight {
  display: grid;
  grid-template-columns: 50% 1fr;
  padding: 7rem 10vw;
}
@media screen and (max-width: 1300px) {
  .isRight {
    padding: 7rem 5vw;
  }
}
@media (min-width: 767px) and (max-width: 1024px) {
  .isRight {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 7rem 10vw;
  }
}
@media (min-width: 450px) and (max-width: 766px) {
  .isRight {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 7rem 5vw;
  }
}
@media (max-width: 449px) {
  .isRight {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 7rem 1rem;
  }
}

.imgDiv {
  position: relative;
}
.imgDiv::before {
  content: "";
  position: absolute;
  top: 0;
  left: -2rem;
  width: 2rem;
  height: 99.4%;
  border: 8px solid #046999;
  border-right: none;
}
@media (min-width: 767px) and (max-width: 1024px) {
  .imgDiv {
    margin-left: 10vw;
  }
}
@media (min-width: 450px) and (max-width: 766px) {
  .imgDiv {
    margin-left: 10vw;
  }
}
@media (max-width: 449px) {
  .imgDiv {
    margin-left: 10vw;
  }
}

.imgMain {
  -webkit-filter: grayscale(0%);
  -ms-filter: grayscale(0%);
  -moz-filter: grayscale(0%);
  transition: all 0.3s ease-in-out;
}
.imgMain:hover {
  -webkit-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  transition: all 0.3s ease-in-out;
}
@media (min-width: 1025px) and (max-width: 1199px) {
  .imgMain {
    width: 400px;
    height: 503px;
  }
}
@media (min-width: 767px) and (max-width: 1024px) {
  .imgMain {
    width: 400px;
    height: 503px;
  }
}
@media (min-width: 450px) and (max-width: 766px) {
  .imgMain {
    width: 300px;
    height: 377px;
  }
}
@media (max-width: 449px) {
  .imgMain {
    width: 300px;
    height: 377px;
  }
}

.contentWrapper h2 {
  font-size: 3rem;
  color: #1e1e1e;
  font-weight: 900;
  margin: 1.5rem 0 2rem 0;
}

.sub {
  border-bottom: 6px solid rgba(183, 183, 183, 0.3294117647);
  width: -moz-fit-content;
  width: fit-content;
}
.sub p {
  color: #046999;
  letter-spacing: 1px;
  font-weight: 600;
  margin-bottom: -0.5rem;
}

.text {
  color: #777a7e;
  line-height: 2.125rem;
  font-size: 1.125rem;
}

.textAlone {
  color: #777a7e;
  line-height: 2.125rem;
  margin-bottom: 2rem;
  font-size: 1.125rem;
}

.contentGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  margin-top: 2rem;
}
@media (max-width: 449px) {
  .contentGrid {
    display: flex;
    flex-direction: column;
  }
}

.bar {
  height: 3px;
  width: 19px;
  background-color: #046999;
  margin-bottom: 0.5rem;
}

.excerpt {
  margin-bottom: 2rem;
}
.excerpt div {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.excerpt h3 {
  color: #1e1e1e;
  font-size: 1.125rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}
@media (max-width: 449px) {
  .excerpt h3 {
    font-size: 1.25rem;
  }
}
.excerpt p {
  color: #777a7e;
  margin-top: 1rem;
  padding-right: 2vw;
  line-height: 1.5rem;
}

.listItem {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1.125rem;
}
.listItem p {
  color: #333;
  font-size: 1.125rem;
  font-weight: 500;
}
.listItem svg {
  color: #046999;
}

.btn {
  margin-top: 2.6rem;
  padding: 2rem 4rem;
}
.btn:hover {
  border: 1px solid #046999;
}/*# sourceMappingURL=isRight.module.css.map */