@charset "UTF-8";
.pageSegment {
  scroll-margin-top: 100px;
  padding: 0 10vw 2rem 10vw;
  display: flex;
  gap: 4rem;
  align-items: center;
}
.pageSegment img {
  flex: 0 0 600px;
  height: auto;
  filter: grayscale(0%);
  transition: all 0.3s ease;
}
.pageSegment img:hover {
  filter: grayscale(100%);
  transition: all 0.3s ease;
}
@media (max-width: 449px) {
  .pageSegment img {
    max-width: 90vw;
  }
}
@media (min-width: 450px) and (max-width: 766px) {
  .pageSegment img {
    max-width: 90vw;
  }
}
@media (min-width: 767px) and (max-width: 1024px) {
  .pageSegment img {
    max-width: 90vw;
  }
}
@media (min-width: 1025px) and (max-width: 1199px) {
  .pageSegment img {
    width: 450px;
    height: 300px;
  }
}
@media (max-width: 449px) {
  .pageSegment {
    flex-direction: column-reverse;
    padding: 0 1rem;
  }
}
@media (min-width: 450px) and (max-width: 766px) {
  .pageSegment {
    flex-direction: column-reverse;
  }
}
@media (min-width: 767px) and (max-width: 1024px) {
  .pageSegment {
    flex-direction: column-reverse;
  }
}
.pageSegment a {
  color: #046999;
  font-weight: 700;
}

.pageSegmentGrid {
  scroll-margin-top: 100px;
  padding: 0 10vw 2rem 10vw;
  display: grid;
  grid-template-columns: 60% 1fr;
  gap: 4rem;
  align-items: center;
}
.pageSegmentGrid img {
  flex: 0 0 600px;
  height: auto;
  filter: grayscale(0%);
  transition: all 0.3s ease;
}
.pageSegmentGrid img:hover {
  filter: grayscale(100%);
  transition: all 0.3s ease;
}
@media (max-width: 449px) {
  .pageSegmentGrid img {
    max-width: 90vw;
  }
}
@media (min-width: 450px) and (max-width: 766px) {
  .pageSegmentGrid img {
    max-width: 90vw;
  }
}
@media (min-width: 767px) and (max-width: 1024px) {
  .pageSegmentGrid img {
    max-width: 90vw;
  }
}
@media (min-width: 1025px) and (max-width: 1199px) {
  .pageSegmentGrid img {
    width: 450px;
    height: 300px;
  }
}
@media (max-width: 449px) {
  .pageSegmentGrid {
    display: flex;
    flex-direction: column-reverse;
    padding: 0 1rem;
  }
}
@media (min-width: 450px) and (max-width: 766px) {
  .pageSegmentGrid {
    display: flex;
    flex-direction: column-reverse;
  }
}
@media (min-width: 767px) and (max-width: 1024px) {
  .pageSegmentGrid {
    display: flex;
    flex-direction: column-reverse;
  }
}

.pageSegmentCenter {
  scroll-margin-top: 100px;
  padding: 0 10vw 2rem 10vw;
  display: flex;
  justify-content: center;
  gap: 4rem;
  align-items: center;
}
.pageSegmentCenter img {
  flex: 0 0 600px;
  height: auto;
  filter: grayscale(0%);
  transition: all 0.3s ease;
}
.pageSegmentCenter img:hover {
  filter: grayscale(100%);
  transition: all 0.3s ease;
}
@media (max-width: 449px) {
  .pageSegmentCenter img {
    max-width: 90vw;
  }
}
@media (max-width: 449px) {
  .pageSegmentCenter {
    flex-direction: column-reverse;
    padding: 0 1rem 2rem 1rem;
  }
}
@media (min-width: 450px) and (max-width: 766px) {
  .pageSegmentCenter {
    flex-direction: column-reverse;
    padding: 0 1rem 2rem 1rem;
  }
}
@media (min-width: 767px) and (max-width: 1024px) {
  .pageSegmentCenter {
    padding: 0 5vw 2rem 5vw;
  }
}
.pageSegmentCenter a {
  color: #046999;
  font-weight: 700;
}

.content {
  flex: 1;
}
.content p {
  color: #777a7e;
  line-height: 2rem;
}
.content p:first-of-type {
  margin-bottom: 1rem;
}
.content a {
  color: #046999;
  font-weight: 700;
}
.content a:hover {
  text-decoration: underline;
}

.underline {
  margin-bottom: 2rem;
}
.underline h2 {
  font-size: 2rem;
  font-weight: 700;
}

.pointsGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  margin-top: 2rem;
}
@media (max-width: 449px) {
  .pointsGrid {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
  }
}
@media (min-width: 450px) and (max-width: 766px) {
  .pointsGrid {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
  }
}

.point {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.point p {
  color: #777a7e;
  margin: 0 !important;
}
.point a {
  color: #046999 !important;
  font-weight: 700;
}
.point a:hover {
  text-decoration: underline;
}

.tick {
  height: 30px;
  width: 30px;
  min-width: 30px;
  border: 1px solid #046999;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: all 0.5s ease;
}
.tick svg {
  stroke: #046999;
  color: #046999;
}
.tick:hover {
  transition: all 0.5s ease;
  background-color: #046999;
}
.tick:hover svg {
  stroke: #f8f8f8;
  color: #f8f8f8;
}

.checks {
  margin-top: 2rem;
}

.check {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.cross {
  height: 30px;
  width: 30px;
  min-width: 30px;
  background-color: rgb(202, 13, 13);
  border: 1px solid rgb(202, 13, 13);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: all 0.5s ease;
}
.cross svg {
  stroke: #f8f8f8;
  color: #f8f8f8;
}
.cross:hover {
  transition: all 0.5s ease;
  background-color: #f8f8f8;
}
.cross:hover svg {
  stroke: #046999;
  color: #046999;
}
.cross p {
  margin: 0 !important;
}

.alsoTrading {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  margin: 2rem 0 0 0;
}
.alsoTrading h3 {
  margin-bottom: -0.6rem;
}
.alsoTrading ul {
  list-style: none;
  padding-left: 0;
}
.alsoTrading ul li {
  display: inline-block;
  font-size: 1.25rem;
}
.alsoTrading ul li:not(:last-child)::after {
  content: "•";
  margin: 0 0.5rem;
}

.points {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.point {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-left: 1rem;
}
.point p {
  color: #777a7e;
  margin: 0 !important;
  line-height: 1.5rem;
}

.tick {
  height: 30px;
  width: 30px;
  min-width: 30px;
  border: 1px solid #0eaa0e;
  background-color: #0eaa0e;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: all 0.5s ease;
}
.tick svg {
  stroke: #f8f8f8;
  color: #f8f8f8;
}
.tick:hover {
  transition: all 0.5s ease;
  background-color: #f8f8f8;
}
.tick:hover svg {
  stroke: #0eaa0e;
  color: #0eaa0e;
}
.tick a {
  color: #046999 !important;
}

.btns {
  display: flex;
  gap: 1rem;
  margin-top: 2rem;
  align-items: center;
}
.btns a {
  width: 160px;
}
.btns a:hover {
  border: 1px solid #046999;
}
@media screen and (max-width: 800px) {
  .btns {
    flex-direction: column;
  }
}

@media (max-width: 449px) {
  .reverse {
    flex-direction: column;
  }
}
@media (min-width: 450px) and (max-width: 766px) {
  .reverse {
    flex-direction: column;
  }
}
@media (min-width: 767px) and (max-width: 1024px) {
  .reverse {
    flex-direction: column;
  }
}
@media (max-width: 449px) {
  .reverse .content {
    margin-top: 3rem;
  }
}
@media (min-width: 450px) and (max-width: 766px) {
  .reverse .content {
    flex-direction: column;
  }
}
@media (min-width: 767px) and (max-width: 1024px) {
  .reverse .content {
    flex-direction: column;
  }
}

@media (max-width: 449px) {
  .noImg img {
    display: none;
  }
}
@media (min-width: 450px) and (max-width: 766px) {
  .noImg img {
    display: none;
  }
}
@media (min-width: 767px) and (max-width: 1024px) {
  .noImg img {
    display: none;
  }
}

@media (max-width: 449px) {
  .noMargin {
    margin: 0 !important;
  }
}
@media (min-width: 450px) and (max-width: 766px) {
  .noMargin {
    margin: 0 !important;
  }
}

.customMargin {
  margin: 6rem 0;
  scroll-margin-top: 100px;
}
@media screen and (min-width: 800px) {
  .customMargin {
    margin: 6rem 0 0 0;
    scroll-margin-top: 150px;
  }
}

@media screen and (min-width: 800px) {
  .btmMargin {
    margin-bottom: 6rem 0;
  }
}

.imgContent {
  display: flex;
}

.bullets {
  margin: 4rem 0 1rem 0;
}
@media screen and (max-width: 800px) {
  .bullets {
    margin: 2rem 0 1rem 0;
  }
}/*# sourceMappingURL=pageSegment4.module.css.map */