.pageSegment {
  position: relative;
  scroll-margin-top: 150px;
  display: flex;
  gap: 4rem;
  margin: 8rem 10vw;
}
@media (max-width: 449px) {
  .pageSegment {
    flex-direction: column;
    margin: 6rem 1rem;
  }
}
@media (min-width: 450px) and (max-width: 766px) {
  .pageSegment {
    flex-direction: column;
    margin: 6rem 1rem;
  }
}
@media (min-width: 767px) and (max-width: 1024px) {
  .pageSegment {
    flex-direction: column;
    margin: 6rem 4rem;
  }
}

.imgWrapper {
  z-index: 2;
  flex: 1;
  border-bottom: 15px solid #046999;
  height: -moz-fit-content;
  height: fit-content;
}
.imgWrapper img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  padding-bottom: 0.5rem;
  filter: grayscale(0%);
  transition: all 0.3s ease;
}
.imgWrapper img:hover {
  filter: grayscale(100%);
}
@media (max-width: 449px) {
  .imgWrapper {
    display: none;
  }
}
@media (min-width: 450px) and (max-width: 766px) {
  .imgWrapper {
    display: none;
  }
}
@media (min-width: 767px) and (max-width: 1024px) {
  .imgWrapper {
    display: none;
  }
}
@media (min-width: 1025px) and (max-width: 1199px) {
  .imgWrapper {
    border-bottom: none;
  }
}

.contentWrapper {
  flex: 1;
  display: flex;
  align-items: center;
}

.content {
  z-index: 2;
}
.content h2 {
  color: #1e1e1e;
  font-size: 2.5rem;
  margin: 2rem 0 2rem 0;
  font-weight: 900;
}
.content a {
  color: #046999;
  font-weight: 700;
}
.content p:first-child {
  color: #046999;
  font-weight: 700;
  letter-spacing: 1px;
}
.content p:nth-of-type(2) {
  color: #777a7e;
  line-height: 2rem;
  margin-top: 1rem;
}
.content p:nth-of-type(3) {
  color: #777a7e;
  line-height: 2rem;
  margin-top: 1rem;
}
.content p:nth-of-type(4) {
  color: #777a7e;
  line-height: 2rem;
  margin-top: 1rem;
}
.content p:last-child {
  color: #777a7e;
  line-height: 2rem;
  margin-top: 1rem;
}

.points {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 2rem;
}
@media (max-width: 449px) {
  .points {
    margin-left: 1rem;
  }
}
@media (min-width: 450px) and (max-width: 766px) {
  .points {
    margin-left: 1rem;
  }
}

.pointsGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  margin-top: 2rem;
}

.point {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.point p {
  color: #777a7e;
  margin: 0 !important;
}

.tick {
  height: 30px;
  width: 30px;
  border: 1px solid #046999;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.tick:hover {
  transition: all 0.5s ease;
  background-color: #046999;
}
.tick:hover svg {
  stroke: #f8f8f8;
}

.semi {
  position: absolute;
  bottom: 0;
  left: 0;
  filter: brightness(1.5);
  transform: scaleX(-1);
}
@media (max-width: 449px) {
  .semi {
    width: 450px;
    height: 450px;
  }
}
@media (max-width: 449px) {
  .semi {
    width: 450px;
    height: 450px;
  }
}

.points {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.point {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.point p {
  color: #777a7e;
  margin: 0 !important;
  line-height: 1.5rem;
}

.tick {
  height: 30px;
  width: 30px;
  min-width: 30px;
  border: 1px solid #0eaa0e;
  background-color: #0eaa0e;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: all 0.5s ease;
}
.tick svg {
  stroke: #f8f8f8;
  color: #f8f8f8;
}
.tick:hover {
  transition: all 0.5s ease;
  background-color: #f8f8f8;
}
.tick:hover svg {
  stroke: #0eaa0e;
  color: #0eaa0e;
}

.btn {
  -moz-user-select: none;
  background: #046999;
  border: medium none;
  border-radius: 0.1rem;
  color: #fff;
  display: inline-block;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 1;
  margin-bottom: 0;
  padding: 1.5rem 3rem;
  text-align: center;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  position: relative;
  z-index: 1;
  overflow: hidden;
  display: flex;
  align-items: center;
  gap: 1rem;
  width: -moz-fit-content;
  width: fit-content;
  border: 1px solid transparent;
}
.btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: #fff;
  transition: left 0.3s ease;
  z-index: -1;
}
.btn:hover {
  color: #046999;
  border: 1px solid #046999;
}
.btn:hover::before {
  left: 0;
}

@media (max-width: 449px) {
  .withImg {
    display: flex;
    flex-direction: column-reverse;
  }
  .withImg .imgWrapper {
    display: flex;
    margin: 0 auto;
    border: none;
  }
}

.customMargin {
  margin: 6rem 10vw;
}
@media (min-width: 767px) and (max-width: 1024px) {
  .customMargin {
    margin: 6rem 5vw;
  }
}
@media (min-width: 450px) and (max-width: 766px) {
  .customMargin {
    margin: 6rem 2vw;
  }
}
@media (max-width: 449px) {
  .customMargin {
    margin: 6rem 1rem;
  }
}

.locationBtn {
  margin-top: 2rem;
  max-width: 90vw;
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  width: -moz-fit-content;
  width: fit-content;
  padding: 1rem;
  white-space: normal;
  overflow-wrap: break-word;
  line-height: 1.2;
}
.locationBtn svg {
  flex: 0 0 auto;
  width: 1.5em;
  height: 1.5em;
}

@media screen and (min-width: 700px) {
  .imgMarginTop {
    margin-top: 6rem;
  }
}/*# sourceMappingURL=pageSegment.module.css.map */