@charset "UTF-8";
.pageSegment {
  position: relative;
  scroll-margin-top: 100px;
  display: grid;
  grid-template-columns: 66% 1fr;
  gap: 2rem;
  padding: 4rem 10vw;
}
@media (min-width: 767px) and (max-width: 1024px) {
  .pageSegment {
    padding: 4rem 2vw;
    gap: 0rem;
    display: flex;
    flex-direction: column-reverse;
  }
}
@media screen and (max-width: 1200px) {
  .pageSegment {
    display: flex;
    flex-direction: column-reverse;
    padding: 4rem 2vw;
  }
}
.pageSegment img {
  -o-object-fit: cover;
     object-fit: cover;
}
@media (min-width: 1025px) and (max-width: 1199px) {
  .pageSegment img {
    display: none;
  }
}
@media (min-width: 767px) and (max-width: 1024px) {
  .pageSegment img {
    max-width: 70vw;
    padding: 0;
  }
}
@media (min-width: 450px) and (max-width: 766px) {
  .pageSegment img {
    max-width: 95vw;
    padding: 0;
  }
}
@media (max-width: 449px) {
  .pageSegment img {
    max-width: 95vw;
    padding: 0;
  }
}

.pageSegmentReverse {
  scroll-margin-top: 100px;
  display: grid;
  grid-template-columns: 1fr 66%;
  gap: 4rem;
  padding: 6rem 10vw;
}
.pageSegmentReverse img {
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: -4rem;
}
@media screen and (max-width: 1200px) {
  .pageSegmentReverse {
    padding: 0 2vw 8rem 2vw;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    margin-top: -2rem;
  }
}
@media (min-width: 450px) and (max-width: 766px) {
  .pageSegmentReverse {
    margin-top: 4rem;
    gap: 6rem;
  }
}
@media (max-width: 449px) {
  .pageSegmentReverse {
    margin-top: 6rem;
    gap: 6rem;
  }
}
.pageSegmentReverse img {
  -o-object-fit: cover;
     object-fit: cover;
}
@media (min-width: 1025px) and (max-width: 1199px) {
  .pageSegmentReverse img {
    display: none;
  }
}
@media (min-width: 767px) and (max-width: 1024px) {
  .pageSegmentReverse img {
    max-width: 70vw;
    padding: 0;
  }
}
@media (min-width: 450px) and (max-width: 766px) {
  .pageSegmentReverse img {
    max-width: 95vw;
    padding: 0;
  }
}
@media (max-width: 449px) {
  .pageSegmentReverse img {
    max-width: 95vw;
    padding: 0;
  }
}

.contents {
  position: relative;
  grid-row: span 2;
  background-color: #f2f3f5;
  padding: 2rem;
  border-radius: 0.1rem;
  height: -moz-fit-content;
  height: fit-content;
}
.contents h3 {
  color: #1e1e1e;
  margin: 1rem;
  font-weight: 700;
  font-size: 1.25rem;
}
.contents .buttonWrapper {
  margin: 3rem 0 1rem 0;
  display: flex;
  justify-content: center;
}
.contents .buttonWrapper button {
  padding: 1.5rem 3rem;
}
@media (min-width: 1025px) and (max-width: 1199px) {
  .contents {
    display: none;
  }
}
@media (min-width: 767px) and (max-width: 1024px) {
  .contents {
    display: none;
  }
}
@media (min-width: 450px) and (max-width: 766px) {
  .contents {
    display: none;
  }
}
@media (max-width: 449px) {
  .contents {
    display: none;
  }
}

.contentLink {
  position: relative;
  padding: 1rem;
  transition: all 0.3s ease;
}
.contentLink a,
.contentLink p {
  color: #777a7e;
  transition: all 0.3s ease;
  line-height: 2rem;
}
.contentLink a::after,
.contentLink p::after {
  content: "→";
  position: absolute;
  right: 1rem;
  bottom: 1.25rem;
  opacity: 0;
  color: #046999;
  transition: opacity 0.3s ease;
  font-size: 1.5rem;
  font-weight: 700;
}

a:hover .contentLink {
  background-color: white;
  cursor: pointer;
}
a:hover .contentLink p {
  color: #046999;
  font-weight: 700;
}
a:hover .contentLink p::after {
  opacity: 1;
}

.contentLink[style*="display: flex"] a:hover p {
  color: #046999;
  font-weight: 700;
}

.info h2 {
  color: #1e1e1e;
  margin: 1rem 0;
  font-weight: 900;
}
.info p {
  margin-top: 1rem;
  color: #777a7e;
  line-height: 2rem;
  max-width: 90%;
}
@media (max-width: 449px) {
  .info {
    padding: 0 0 2rem 1rem;
  }
  .info p {
    max-width: 100%;
    padding-top: 1rem;
  }
}
@media (min-width: 450px) and (max-width: 766px) {
  .info {
    padding: 0 0 2rem 1rem;
  }
  .info p {
    max-width: 100%;
    padding-top: 1rem;
  }
}
@media (min-width: 767px) and (max-width: 1024px) {
  .info {
    padding: 1rem 0 6rem 0;
  }
}
@media (min-width: 1025px) and (max-width: 1199px) {
  .info {
    padding: 0 0 0 10vw;
  }
}

.customMargin {
  margin: 4rem 0 0 0;
}
@media (min-width: 1025px) and (max-width: 1199px) {
  .customMargin {
    margin: 4rem 0 -4rem 0;
  }
}
@media (min-width: 767px) and (max-width: 1024px) {
  .customMargin {
    margin: 0 0 -4rem 0;
  }
}
@media (min-width: 450px) and (max-width: 766px) {
  .customMargin {
    margin: 0 0 -4rem 0;
  }
}
@media (max-width: 449px) {
  .customMargin {
    margin: 0;
  }
}/*# sourceMappingURL=pageSegment2.module.css.map */