@import "./globals.scss";

.pageSegment {
  scroll-margin-top: 100px;
  padding: 0 10vw 2rem 10vw;
  display: flex;
  gap: 4rem;
  align-items: center;

  img {
    flex: 0 0 600px;
    height: auto;
    filter: grayscale(0%);
    transition: all 0.3s ease;

    &:hover {
      filter: grayscale(100%);
      transition: all 0.3s ease;
    }
    @include phone {
      max-width: 90vw;
    }
    @include phoneLandscape {
      max-width: 90vw;
    }
    @include tablet {
      max-width: 90vw;
    }
    @include desktop {
      width: 450px;
      height: 300px;
    }
  }

  @include phone {
    flex-direction: column-reverse;
    padding: 0 1rem;
  }
  @include phoneLandscape {
    flex-direction: column-reverse;
  }
  @include tablet {
    flex-direction: column-reverse;
  }

  a {
    color: $theme;
    font-weight: 700;
  }
}

.pageSegmentGrid {
  scroll-margin-top: 100px;
  padding: 0 10vw 2rem 10vw;
  display: grid;
  grid-template-columns: 60% 1fr;
  gap: 4rem;
  align-items: center;

  img {
    flex: 0 0 600px;
    height: auto;
    filter: grayscale(0%);
    transition: all 0.3s ease;

    &:hover {
      filter: grayscale(100%);
      transition: all 0.3s ease;
    }
    @include phone {
      max-width: 90vw;
    }
    @include phoneLandscape {
      max-width: 90vw;
    }
    @include tablet {
      max-width: 90vw;
    }
    @include desktop {
      width: 450px;
      height: 300px;
    }
  }

  @include phone {
    display: flex;
    flex-direction: column-reverse;
    padding: 0 1rem;
  }
  @include phoneLandscape {
    display: flex;
    flex-direction: column-reverse;
  }
  @include tablet {
    display: flex;
    flex-direction: column-reverse;
  }
}

.pageSegmentCenter {
  scroll-margin-top: 100px;
  padding: 0 10vw 2rem 10vw;
  display: flex;
  justify-content: center;
  gap: 4rem;
  align-items: center;

  img {
    flex: 0 0 600px;
    height: auto;
    filter: grayscale(0%);
    transition: all 0.3s ease;

    &:hover {
      filter: grayscale(100%);
      transition: all 0.3s ease;
    }
    @include phone {
      max-width: 90vw;
    }
  }

  @include phone {
    flex-direction: column-reverse;
    padding: 0 1rem 2rem 1rem;
  }

  @include phoneLandscape {
    flex-direction: column-reverse;
    padding: 0 1rem 2rem 1rem;
  }

  @include tablet {
    padding: 0 5vw 2rem 5vw;
  }

  a {
    color: $theme;
    font-weight: 700;
  }
}

.content {
  flex: 1;

  p {
    color: $darkGrayText;
    line-height: 2rem;

    &:first-of-type {
      margin-bottom: 1rem;
    }
  }

  a {
    color: $theme;
    font-weight: 700;
    &:hover {
      text-decoration: underline;
    }
  }
}

.underline {
  margin-bottom: 2rem;

  h2 {
    font-size: 2rem;
    font-weight: 700;
  }
}

.pointsGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  margin-top: 2rem;
  @include phone {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
  }
  @include phoneLandscape {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
  }
}

.point {
  display: flex;
  align-items: center;
  gap: 1rem;
  p {
    color: $darkGrayText;
    margin: 0 !important;
  }
  a {
    color: $theme !important;
    font-weight: 700;
    &:hover {
      text-decoration: underline;
    }
  }
}

.tick {
  height: 30px;
  width: 30px;
  min-width: 30px;
  border: 1px solid $theme;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: all 0.5s ease;
  svg {
    stroke: $theme;
    color: $theme;
  }
  &:hover {
    transition: all 0.5s ease;
    background-color: $theme;
    svg {
      stroke: $offWhite;
      color: $offWhite;
    }
  }
}

.checks {
  margin-top: 2rem;
}

.check {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.cross {
  height: 30px;
  width: 30px;
  min-width: 30px;
  background-color: rgb(202, 13, 13);
  border: 1px solid rgb(202, 13, 13);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: all 0.5s ease;
  svg {
    stroke: $offWhite;
    color: $offWhite;
  }
  &:hover {
    transition: all 0.5s ease;
    background-color: $offWhite;
    svg {
      stroke: $theme;
      color: $theme;
    }
  }
  p {
    margin: 0 !important;
  }
}

.alsoTrading {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  margin: 2rem 0 0 0;
  h3 {
    margin-bottom: -0.6rem;
  }

  ul {
    list-style: none;
    padding-left: 0;

    li {
      display: inline-block;
      font-size: 1.25rem;

      &:not(:last-child)::after {
        content: "•";
        margin: 0 0.5rem;
      }
    }
  }
}

.points {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.point {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-left: 1rem;
  p {
    color: $darkGrayText;
    margin: 0 !important;
    line-height: 1.5rem;
  }
}

.tick {
  height: 30px;
  width: 30px;
  min-width: 30px;
  border: 1px solid #0eaa0e;
  background-color: #0eaa0e;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: all 0.5s ease;
  svg {
    stroke: $offWhite;
    color: $offWhite;
  }
  &:hover {
    transition: all 0.5s ease;
    background-color: $offWhite;
    svg {
      stroke: #0eaa0e;
      color: #0eaa0e;
    }
  }
  a {
    color: $theme !important;
  }
}

.btns {
  display: flex;
  gap: 1rem;
  margin-top: 2rem;
  align-items: center;
  a {
    width: 160px;
    &:hover {
      border: 1px solid $theme;
    }
  }
  @media screen and (max-width: 800px) {
    flex-direction: column;
  }
}

// Variations ********************

.reverse {
  @include phone {
    flex-direction: column;
  }
  @include phoneLandscape {
    flex-direction: column;
  }
  @include tablet {
    flex-direction: column;
  }
  .content {
    @include phone {
      margin-top: 3rem;
    }
    @include phoneLandscape {
      flex-direction: column;
    }
    @include tablet {
      flex-direction: column;
    }
  }
}

.noImg {
  img {
    @include phone {
      display: none;
    }
    @include phoneLandscape {
      display: none;
    }
    @include tablet {
      display: none;
    }
  }
}

.noMargin {
  @include phone {
    margin: 0 !important;
  }
  @include phoneLandscape {
    margin: 0 !important;
  }
}

.customMargin {
  @media screen and (min-width: 800px) {
    margin: 6rem 0 0 0;
    scroll-margin-top: 150px;
  }
  margin: 6rem 0;
  scroll-margin-top: 100px;
}

.btmMargin {
  @media screen and (min-width: 800px) {
    margin-bottom: 6rem 0;
  }
}

.imgContent {
  display: flex;
}

.bullets {
  margin: 4rem 0 1rem 0;
  @media screen and (max-width: 800px) {
    margin: 2rem 0 1rem 0;
  }
}
