@import "./globals.scss";

.pageSegment {
  scroll-margin-top: 100px;
  padding: 4rem 10vw;
  display: flex;
  align-items: center;
  gap: 4rem;

  p {
    color: $darkGrayText;
    line-height: 2rem;
    max-width: 80%;
  }

  img {
    filter: grayscale(0%);
    transition: all 0.3s ease;
    aspect-ratio: 600/450;
    object-fit: contain;

    &:hover {
      filter: grayscale(100%);
      transition: all 0.3s ease;
    }

    @include phone {
      max-width: 90vw;
    }
    @include phoneLandscape {
      max-width: 90vw;
    }
  }

  @include phone {
    flex-direction: column-reverse;
    padding: 2rem 1rem;
    p {
      max-width: 100%;
    }
  }
  @include phoneLandscape {
    flex-direction: column-reverse;
    p {
      max-width: 100%;
    }
  }
  @include tablet {
    flex-direction: column-reverse;
  }
}

.pageSegmentCentered {
  scroll-margin-top: 100px;
  padding: 0 10vw 4rem 10vw;
  display: flex;
  align-items: center;
  gap: 6rem;

  p {
    color: $darkGrayText;
    line-height: 2rem;
    max-width: 80%;
    &:last-of-type {
      margin-top: 1rem;
    }
  }

  img {
    filter: grayscale(0%);
    transition: all 0.3s ease;
    &:hover {
      filter: grayscale(100%);
      transition: all 0.3s ease;
    }
    max-width: 95vw;
  }

  @include phone {
    flex-direction: column;
    padding: 2rem 1rem;
    p {
      max-width: 100%;
    }
  }
  @include phoneLandscape {
    flex-direction: column;
    p {
      max-width: 100%;
    }
  }
  @include tablet {
    flex-direction: column;
  }
}

.underline {
  margin-bottom: 2rem;

  h2 {
    font-size: 1.5rem;
    font-weight: 700;
    // display: inline; // Makes the element only as wide as its content
    // background-image: linear-gradient($theme, $theme); // Use your theme color
    // background-size: 100% 6px;
    // background-repeat: no-repeat;
    // background-position: 0 calc(100% + 4px); // Positions the line below the text
  }
}

.points {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 2rem;
}

.pointsGrid {
  display: grid;
  grid-template-columns: 50% 1fr;
  gap: 0.5rem;
  margin-top: 2rem;

  @include phone {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 2rem 0 0 1rem;
  }
}

.point {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  p {
    color: $darkGrayText;
    margin: 0 !important;
    line-height: 1.5rem;
  }
}

.tick {
  height: 30px;
  width: 30px;
  min-width: 30px;
  border: 1px solid #0eaa0e;
  background-color: #0eaa0e;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: all 0.5s ease;
  svg {
    stroke: $offWhite;
    color: $offWhite;
  }
  &:hover {
    transition: all 0.5s ease;
    background-color: $offWhite;
    svg {
      stroke: #0eaa0e;
      color: #0eaa0e;
    }
  }
}

.noImg {
  @include phone {
    img {
      display: none;
    }
    margin-bottom: 0 !important;
    padding-bottom: 0;
  }
  @include phoneLandscape {
    img {
      display: none;
    }
    margin-bottom: 0 !important;
    padding-bottom: 0;
  }
}

.reversed {
  @include phone {
    flex-direction: column;
    margin-top: 3rem;
  }
  @include phoneLandscape {
    flex-direction: column;
    margin-top: 3rem;
  }
}

.noMargin {
  @include phone {
    margin: 0 !important;
  }
  @include phoneLandscape {
    margin: 0 !important;
  }
}

.marginBottom {
  margin-bottom: 4rem !important;
  @include phone {
    margin-top: -4rem;
  }
  @include phoneLandscape {
    margin-top: -4rem;
  }
}

.padded {
  padding: 8rem 10vw;
  @include desktop {
    padding: 4rem 10vw;
    img {
      width: 450px;
      height: 300px;
    }
  }
  @include phoneLandscape {
    padding: 4rem 5vw;
  }
  @include phone {
    padding: 4rem 1rem;
  }
}

.paddedBtm {
  padding: 4rem 10vw 8rem 10vw;
  @include desktop {
    padding: 4rem 10vw;
    img {
      width: 450px;
      height: 300px;
    }
  }
  @include phoneLandscape {
    padding: 4rem 5vw;
  }
  @include phone {
    padding: 4rem 1rem;
  }
}

.paddedTop {
  padding: 8rem 10vw;
  @include desktop {
    padding: 4rem 10vw;
    img {
      width: 450px;
      height: 300px;
    }
  }
  @include phoneLandscape {
    padding: 4rem 5vw 0 5vw;
  }
  @include phone {
    padding: 4rem 1rem 0 1rem;
  }
}
