.card {
  position: relative;
  overflow: hidden;
  border-radius: 0.2rem;
  flex: 1;
  min-height: 300px;
  max-width: 400px;
  min-width: 300px;
  cursor: pointer;
  touch-action: manipulation;
}
@media (min-width: 1025px) and (max-width: 1199px) {
  .card {
    max-width: 300px;
    min-width: 250px;
    min-height: 250px;
  }
}
@media (min-width: 767px) and (max-width: 1024px) {
  .card {
    place-self: center;
    min-height: 300px;
    max-width: 400px;
    min-width: 300px;
  }
}
@media (min-width: 450px) and (max-width: 766px) {
  .card {
    place-self: center;
    max-width: 250px;
    min-width: 250px;
    min-height: 250px;
  }
}

.cardImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #1a1c1e;
  color: #f8f8f8;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 1rem;
  transform: translateY(0);
  transition: transform 0.5s ease;
}
.card:hover .cardImage, .card:focus .cardImage, .card:focus-within .cardImage, .card:active .cardImage {
  transform: translateY(-100%);
}
@media (hover: none) {
  .card:active .cardImage {
    transform: translateY(-100%);
  }
}
.cardImage h3 {
  font-size: 1rem;
  text-align: center;
  letter-spacing: 1px;
  line-height: 1.5rem;
  margin-top: 1.5rem;
  max-width: 80%;
}
.cardImage img {
  z-index: 3;
}
.cardImage::before {
  content: "";
  position: absolute;
  top: -25%;
  left: 25%;
  width: 50%;
  height: 50%;
  background-color: #1a1c1e;
  filter: brightness(1.1);
  border-radius: 50%;
}
@media (max-width: 449px) {
  .cardImage {
    transition: all 1s ease-in-out;
  }
}
@media (min-width: 450px) and (max-width: 766px) {
  .cardImage {
    transition: all 1s ease-in-out;
  }
}

.cardContent {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #046999;
  color: #f8f8f8;
  padding: 1rem;
  transform: translateY(100%);
  transition: transform 0.5s ease;
  overflow: hidden;
}
.card:hover .cardContent, .card:focus .cardContent, .card:focus-within .cardContent, .card:active .cardContent {
  transform: translateY(0);
}
@media (hover: none) {
  .card:active .cardContent {
    transform: translateY(0);
  }
}
.cardContent h4 {
  font-size: 1rem;
  font-weight: 900;
  margin-bottom: 0.8rem;
  letter-spacing: 1px;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
.cardContent ul {
  list-style-type: none;
  padding: 0;
  margin: 0 0 1rem 0;
}
.cardContent li {
  margin-bottom: 0.5rem;
  list-style-type: disc;
  margin-left: 1rem;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  font-size: 0.9rem;
}
.cardContent a {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: #f8f8f8;
  text-decoration: none;
  border: 1px solid #f8f8f8;
  padding: 0.5rem 1rem;
  border-radius: 0.2rem;
  transition: all 0.3s ease;
  margin: auto 0 0 auto;
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
  z-index: 2;
}
.cardContent a:hover {
  background-color: #046999;
  filter: brightness(1.3);
  transform: scale(1.1);
}
@media (max-width: 449px) {
  .cardContent a {
    transition: all 1s ease-in-out;
  }
}
@media (min-width: 450px) and (max-width: 766px) {
  .cardContent a {
    transition: all 1s ease-in-out;
  }
}
.cardContent::before {
  content: "";
  position: absolute;
  top: -25%;
  left: 25%;
  width: 50%;
  height: 50%;
  background-color: #046999;
  filter: brightness(1.3);
  border-radius: 50%;
  z-index: -1;
}

.contactCardWrapper {
  display: flex;
  justify-content: space-around;
  padding: 6rem 0;
  flex-wrap: wrap;
  gap: 1rem;
}

.contentAlt {
  padding: 2rem;
  align-items: center;
  text-align: center;
}
.contentAlt a {
  margin: 2rem auto 1rem auto;
}

@media (min-width: 450px) and (max-width: 766px) {
  .inViewImage {
    transform: translateY(-100%) !important;
  }
  .inViewContent {
    transform: translateY(0) !important;
  }
}
@media (min-width: 450px) and (max-width: 766px) and (hover: none) {
  .card .cardImage.inViewImage {
    transform: translateY(-100%) !important;
  }
  .card .cardContent.inViewContent {
    transform: translateY(0) !important;
  }
}
@media (max-width: 449px) {
  .inViewImage {
    transform: translateY(-100%) !important;
  }
  .inViewContent {
    transform: translateY(0) !important;
  }
}
@media (max-width: 449px) and (hover: none) {
  .card .cardImage.inViewImage {
    transform: translateY(-100%) !important;
  }
  .card .cardContent.inViewContent {
    transform: translateY(0) !important;
  }
}/*# sourceMappingURL=servicesCard.module.css.map */