@import "./globals.scss";

.services {
  background-color: #fff;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
  padding: 6rem 10vw;
  @include phone {
    padding: 4rem 2rem 8rem 2rem !important;
  }

  .imageWrapper {
    position: relative;
    width: 100%;
    max-width: 600px;
    aspect-ratio: 3/2;

    img {
      width: 100%;
      height: auto;
      object-fit: cover;
    }
  }

  @include desktop {
    padding: 8rem 2rem;
    gap: 1rem;
  }

  @include tablet {
    padding: 8rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 4rem;
  }

  @include phoneLandscape {
    padding: 8rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 4rem;

    .imageWrapper {
      max-width: 90vw;
      margin: 0 auto;
    }
  }

  @include phone {
    padding: 4rem 2rem 8rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 4rem;

    .imageWrapper {
      max-width: 90vw;
      margin: 0 auto;
    }
  }
}

.content {
  padding-right: 4rem;
  h2 {
    font-size: clamp(2rem, 5vw, 3rem);
    font-weight: 900;
    color: $cardBGC;
    margin: 1rem 0 2rem 0;
  }
  p {
    color: $darkGrayText;
    line-height: 2rem;
    font-size: 1.125rem;
  }
  @include phoneLandscape {
    padding-right: 0;
  }
  @include phone {
    padding-right: 0;
  }

  a {
    font-weight: 700;
    color: $theme;
  }
}

.subBox {
  border-bottom: 6px solid #b7b7b754;
  width: fit-content;
  p {
    color: $theme;
    letter-spacing: 1px;
    font-weight: 600;
    margin-bottom: -0.9rem;
    font-size: 1rem;
  }
}
