@import "./globals.scss";

.socials {
  display: flex;
  gap: 0.8rem;
  height: 100%;

  svg {
    cursor: pointer;
    transition: all 0.3s ease;
    &:hover {
      fill: $theme;
    }
    width: 15px;
    height: 15px;
  }
}

.socialLinkNav {
  background-color: #393f53;
  padding: 0.5rem;
  border-radius: 0.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
